{% extends 'layout/layout.html' %}

{% block title %}
<title>Koray Zorlu</title>
{% endblock title %}



{% block body %}

    <div class="topContent">
        <div class="summary">
            <div class="textContent">
                <div class="title">
                    <span>Ben, Koray Zorlu</span>
                </div>
                <div class="aciklama">
                    <span>E-Ticaret sektöründe yazılım geliştiricisi ve operasyon yönetimi
                        pozisyonlarında çalışmaktayım. Aktif olarak Python ile desktop
                        ve web uygulamaları geliştirmekteyim. E-Ticaret entegrasyon
                        yazılımı projeme devam etmekteyim. Python ve R ile istatistiksel
                        veri analizi ve veri madenciliği üzerine çalışmaktayım.</span>
                </div>
            </div>
            <div class="imgContent">
                <img src="/static/images/koray1.jpg" alt="">
            </div>
        </div>
    </div>

{% endblock body %}