{% include "./modal.html" %}

<nav class="navbarv2">
    <div class="menu">
        <input type="checkbox" id="check">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="" alt="Site Logo" style="height: 35px;">
            </a>
        </div>
        <ul>
            <label class="buttonMainMobileMenu cancel" for="check">
                <i class='bx bx-x' ></i>
            </label>
            <li>
                <a href="/"></a>
            </li>
            <li>
                <a href="/#overview"></a>
            </li>
            <li>
                <a href="/about"></a>
            </li>
            <li>
                <a href="/contact"></a>
            </li>  
        </ul>
        <label class="buttonMainMobileMenu bars" for="check">
            <i class='bx bx-menu'></i>
        </label>
    </div>
</nav>