{% extends 'pokust/pokustlayout.html' %}

{% block title %}
<title>Sayı Doldurma</title>
{% endblock title %}



{% block body %}

<div class="mainBlock">
    <img src="/static/images/sayiornek2.jpg" alt="">
    <button onclick="myFunction()">Devam</button>
</div>



<script>
    var hucreSayisi = 20;   //tpolam hücre sayısı(dolular dahil)
    var hucreSatir = 2;     //toplam satır sayısı
    const verilecekSayilar = [2,8,11,16,19];  //dolu gelecek sayılar
    
    if(hucreSatir === 2){
        var hucreBaslangicLeft = 6.6;
        var hucreBaslangicBottomLeft = 7.4;
        var hucreBaslangicTop = 24;
        for(let i = 0; i < hucreSayisi; i++){
            $(".mainBlock").append("<input class='cell' id='cell" + i + "'></input>");
            if(i === 0){
                $("#cell" + i + "")[0].style = "left: " + hucreBaslangicLeft + "%; top: " + hucreBaslangicTop + "%;";
            }else{
                hucreBaslangicLeft = hucreBaslangicLeft + 8.73;
                $("#cell" + i + "")[0].style = "left: " + hucreBaslangicLeft + "%; top: " + hucreBaslangicTop + "%;";
            }
            if(i > 9){
                hucreBaslangicTop = 51.5;
                if(i === 10){
                    $("#cell" + i + "")[0].style = "left: " + hucreBaslangicBottomLeft + "%; top: " + hucreBaslangicTop + "%;";
                }else{
                    hucreBaslangicBottomLeft = hucreBaslangicBottomLeft + 8.73;
                    $("#cell" + i + "")[0].style = "left: " + hucreBaslangicBottomLeft + "%; top: " + hucreBaslangicTop + "%;";
                }
            }
        }
        for(let i = 0; i < verilecekSayilar.length; i++){
            $("#cell" + verilecekSayilar[i] + "")[0].value = verilecekSayilar[i] + 1;
            $("#cell" + verilecekSayilar[i] + "")[0].style.pointerEvents = "none";
        }
    }

    function myFunction() {
        const girilenSayilar = [];
        for(let i = 0; i < hucreSayisi; i++){
            girilenSayilar.push(parseInt($("#cell" + i + "")[0].value));
        }
        let ardisikKontrol = true;
        for (let i = 1; i < girilenSayilar.length; i++){
            if (girilenSayilar[i] !== girilenSayilar[i - 1] + 1) {
                ardisikKontrol = false;
                break;
            }
        }
        if(ardisikKontrol === true){
            alert("Tebrikler! Sayılar Ardışık!");
        }else{
            alert("Sayılar Ardışık Değil! Tekrar Dene!");
        }
    }
    
    

</script>

{% endblock body %}